body {
  margin:20px;
}

#name{
  text-align:left;
  font-weight:bolder;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style:oblique;
}

#welcome{
  display:flex;
  justify-content: center;
  color:rgb(2, 1, 65);
  
}

#text{
  font-size: 50px;
  font-weight: 800px; 
  color:rgb(0, 0, 112);
}

#name{
  padding-left: 30px;
  color:rgba(13, 0, 255, 0.678);
}

#about{
  font-size:23px;
  color:rgb(2, 1, 65);
  border-style:dashed;
  border-color: rgb(1, 32, 90);
  display: flex;
  justify-content: center;
  padding: 30px;
  margin:200px;
  margin-top: 20px;

}
